.display_flex_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.display_flex_stretch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.display_flex_stretch_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.display_flex_center_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-end;
}
.display_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.display_row {
    flex-flow: row wrap;
}

//mixin
@mixin ontener_width( $parentPxWidth, $pxWidth ){
    width: floor((( $pxWidth / $parentPxWidth ) * 10000% )) / 100;
}
