.postUnderNv {
    width: 150px;
    top: 100%;
    background: #CCC;
    color: #FFF;
}
.buttonUnderNav {
    padding: 10px;
    display: block;
    color: #000;
    bottom: 1px solid #ccc;
    font-size: 12px;
    font-weight: 400;
}
