.header {
    @include paddingPercent(320 , 10 , 10 , 10 , 10 );
}
.logoutMenuHeader {
    width: 58px;
    .logout {
        width: 24px;
    }
    .menu {
        width: 24px;
        height: 21px;
    }
}
